
    body{background:url(beauty-bloom-blue-67636.jpg.jpg); font-family: 'Courier New', Courier, monospace;
    }
    .hero{background-color:blue; color:black; border: 2px solid white;}
    .nice{background-color:blue; color:black; border: 2px solid white;}
    button:hover{ background-color: blue}